@use "../../styles/globalBreakPoints.scss" as *;
@use "../../styles/globalFunctions.scss" as *;
@use "../../styles/globalTypography.scss" as typography;
@import "../../assets/config/mixins";


.searchWrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  // padding-bottom: 0;
  border-radius: 8px;
  // @media screen and (max-width:$tablet) {
  //   display:none;
  // }
  .headText {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .searchInp {
    border: 1px solid #ccc;
    padding-right: 50px;
    padding-left: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    // margin-top: 10px;
    border-radius: 8px;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  // position: fixed;
  // top: 0;
}
.all {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 15px;
  &:hover {
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
  }
}
.listGroup {
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
    .attrsCount {
      border: 1px solid white;
    }
  }
}
.active {
  border-radius: 8px;
  background-color: var(--main-color);
  color: white;
}


.groupBtnWrapper {
  margin-bottom: 15px;
  white-space: wrap;
  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
    margin-right: 15px;
    min-width: 130px;
    max-width: 100%;
  }
}

.groupsWrapper {
  @media screen and (max-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.groupsContainer {
  padding: 15px;
  padding-top: 0;
  height: calc(100vh - 228px);
  overflow-y: auto;
  @media screen and (max-width: $tablet) {
    height: auto;
  }

}

#groupsContainer::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
   }


  #groupsContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  #groupsContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    // background-color: var(--main-color);
  }


.groupBtnContent {
  font-size: toRem(typography.$fontSizeBig);
  font-weight: toRem(typography.$fontWeightBold);
}

.noDataTxt {
  font-size: toRem(typography.$fontSizeBig);
  font-weight: typography.$fontWeightBold;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.catIcon {
  display: none;
  @media screen and (max-width: $minDesktop){
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 9px;
    margin-left: 5px;
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
  }
}

.catButton {
  display: none;
  @media screen and (max-width:$desktop) {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
  }

}
.catgs {
  @media screen and (max-width: $desktop){
    display: none;
  }
}
// .groups {
//   @media screen and (max-width: $minDesktop) {
//     display: none;
//   }
// }



.attrsCount {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--main-color); 
  // background-color: var(--main-color);
  // color: white;
  border-radius: 8px;
  &:hover {
    border:1px solid white;
    color: white;
  }
}

.descText {
  visibility: hidden;
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  // top: 100%;
  transform: translateY(100%);
  right: -50px;
  margin-left: -60px;
}

.groupName {
  margin-right: 12px;
  width: 230px;
  white-space: nowrap; 
  overflow: hidden;
  padding: 8px;
  text-overflow: ellipsis;
  @media screen and (max-width: $desktop) {
    width:100%;
  }
.fullName {
  .descText {
    overflow: visible;
  }
}

}
