.paper, .removeShadow {
   position: relative;
   box-shadow: var(--box-shadow);
   -webkit-box-shadow: var(--box-shadow);
   -moz-box-shadow: var(--box-shadow);
   background-color: var(--main-bg)
}

.removeShadow {
   box-shadow: none;
   border: 1px solid #ccc
}

.fullWidth {
   width: 100%;
}
.fullHeight {
   height: 100%;
}

.circle {
   border-radius: 50%;
}

.rounded {
   border-radius: var(--border-radius);
}

.topRounded {
   border-top-left-radius: var(--border-radius);
   border-top-right-radius: var(--border-radius);
}
.bottomRounded {
   border-bottom-left-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
}

.leftRounded {
   border-top-left-radius: var(--border-radius);
   border-bottom-left-radius: var(--border-radius);
}
.rightRounded {
   border-top-right-radius: var(--border-radius);
   border-bottom-right-radius: var(--border-radius);
}