@use '../../styles/globalTypography.scss' as typography;
@use '../../styles/globalFunctions.scss' as *;

.input {
   background-color: transparent;
   border: none;
   outline: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 22px;
   color: var(--txt-color);
   padding: 0;

   &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--txt-placeholder);
      opacity: 1;
      /* Firefox */
   }

   &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: var(--txt-color);
   }

   &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: var(--txt-color);
   }

   &::-webkit-outer-spin-button,
   &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   /* Firefox */
   &[type=number] {
      -moz-appearance: textfield;
   }

   &[type=search] {
      -webkit-search-cancel-button {
      -webkit-appearance: searchfield-cancel-button;
      }
     
   }
}

.fontSizeSmall {
   font-size: toRem(typography.$fontSizeSmall);
}
.fontSizeMedium {
   font-size: toRem(typography.$fontSizeMedium);
}
.fontSizeBig {
   font-size: toRem(typography.$fontSizeBig);
}
.fontWeightNormal {
   font-weight: toRem(typography.$fontWeightRegular);
}
.fontWeightMedium {
   font-weight: toRem(typography.$fontWeightMedium);
}
.fontWeightBold {
   font-weight: toRem(typography.$fontWeightBold);
}